[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
"beautifulsoup4" = "*"
aiohttp = "*"
"flake8" = "*"
nose = "*"
isort = "*"

[requires]
python_version = "3.8"
